src/resources/Anotaciones.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://main.aytos.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://main.aytos.es" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://main.aytos.es">
            <xs:element name="recibirMensaje">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="recibirMensajeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="introducirFichero">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" type="xs:int"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="introducirFicheroResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="recibirMensajeResponse">
    <wsdl:part name="parameters" element="ns:recibirMensajeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="recibirMensajeRequest">
    <wsdl:part name="parameters" element="ns:recibirMensaje">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="introducirFicheroResponse">
    <wsdl:part name="parameters" element="ns:introducirFicheroResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="introducirFicheroRequest">
    <wsdl:part name="parameters" element="ns:introducirFichero">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AnotacionesPortType">
    <wsdl:operation name="recibirMensaje">
      <wsdl:input message="ns:recibirMensajeRequest" wsaw:Action="urn:recibirMensaje">
    </wsdl:input>
      <wsdl:output message="ns:recibirMensajeResponse" wsaw:Action="urn:recibirMensajeResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="introducirFichero">
      <wsdl:input message="ns:introducirFicheroRequest" wsaw:Action="urn:introducirFichero">
    </wsdl:input>
      <wsdl:output message="ns:introducirFicheroResponse" wsaw:Action="urn:introducirFicheroResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AnotacionesSoap11Binding" type="ns:AnotacionesPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recibirMensaje">
      <soap:operation soapAction="urn:recibirMensaje" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="introducirFichero">
      <soap:operation soapAction="urn:introducirFichero" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnotacionesSoap12Binding" type="ns:AnotacionesPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="recibirMensaje">
      <soap12:operation soapAction="urn:recibirMensaje" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="introducirFichero">
      <soap12:operation soapAction="urn:introducirFichero" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AnotacionesHttpBinding" type="ns:AnotacionesPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="recibirMensaje">
      <http:operation location="Anotaciones/recibirMensaje"/>
      <wsdl:input>
        <mime:content part="recibirMensaje" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="recibirMensaje" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="introducirFichero">
      <http:operation location="Anotaciones/introducirFichero"/>
      <wsdl:input>
        <mime:content part="introducirFichero" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="introducirFichero" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Anotaciones">
    <wsdl:port name="AnotacionesHttpEndpoint" binding="ns:AnotacionesHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/Anotaciones"/>
    </wsdl:port>
    <wsdl:port name="AnotacionesHttpSoap11Endpoint" binding="ns:AnotacionesSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/Anotaciones"/>
    </wsdl:port>
    <wsdl:port name="AnotacionesHttpSoap12Endpoint" binding="ns:AnotacionesSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/Anotaciones"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
